# Python / Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.streamlit/
*.pyc
.DS_Store

# Jupyter / Checkpoints
.ipynb_checkpoints/

# IDEs e OS
.vscode/
.idea/
Thumbs.db
.DS_Store

# Mac OS (caso copie pastas baixadas)
__MACOSX/

# Ambientes virtuais (caso crie no futuro)
venv/
env/
.venv/

